<script setup lang="ts">
import FancyBotton from "@/components/FancyBotton.vue";
import { mdiHeartOutline, mdiCursorDefaultClickOutline } from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-col
        ><FancyBotton
          ><v-icon :icon="mdiHeartOutline" />Love Me
          <template v-slot:tail> Tail </template>
        </FancyBotton></v-col
      >
      <v-col
        ><FancyBotton
          ><v-icon :icon="mdiCursorDefaultClickOutline" />Click Me
          <template #tail> My Tail </template>
        </FancyBotton></v-col
      >
    </v-row>
  </v-container>
</template>
