<script setup lang="ts">
import { mdiHeartOutline } from "@mdi/js";
</script>

<template>
  <v-banner
    align="center"
    lines="one"
    text="- HELLO! WECOME TO MY WORLD -"
  ></v-banner>
  <v-container>
    <v-row>
      <v-col> </v-col>
      <v-col>
        <v-avatar
          image="https://pbs.twimg.com/media/FkRIf7paMAI7SBW?format=jpg&name=small"
          size="175"
        ></v-avatar>
      </v-col>
      <v-col>
        <h2>Chanisata Chunoparat</h2>
        <br />
        <p>Nickname :Miledy</p>
        <br />
        <p>64160042@go.buu.ac.th</p>
      </v-col>
      <v-col> </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-img
          src="https://i.pinimg.com/236x/85/90/0d/85900d28a5459436b80c348d3ca5f7b4.jpg"
          cover
          height="10"
        ></v-img>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="5">
        <h2>Educational Record</h2>
        <v-table>
          <thead>
            <tr>
              <th>Grade</th>
              <th>Branch</th>
              <th>School</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1 - 6</td>
              <td>-</td>
              <td>Charoensuk Wittaya School</td>
            </tr>
            <tr>
              <td>7-9</td>
              <td>Sci & Math</td>
              <td>Bansuan Jananusorn School</td>
            </tr>
            <tr>
              <td>10 - 12</td>
              <td>Sci & Math</td>
              <td>Bansuan Jananusorn School</td>
            </tr>
            <tr>
              <td>University</td>
              <td>Computer Science</td>
              <td>Burapha University</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
      <v-col cols
        ><h2>School & University</h2>
        <v-table>
          <thead>
            <tr>
              <th>Charoensuk Wittaya School</th>
              <th>Bansuan Jananusorn School</th>
              <th>Burapha University</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <v-img
                  src="https://lh5.googleusercontent.com/p/AF1QipNrPhJ8fw9AwXdW5nxIrkeXOtiuWj28hAqhV71A=w1080-k-no"
                  height="140"
                  width="175"
                  cover
                ></v-img>
              </td>
              <td>
                <v-img
                  src="https://fastly.4sqi.net/img/general/width960/6637795_zBAxR1F_fi9nGs3cXaqDkXU-nKbLWP0OMjhHLDvAU9k.jpg"
                  height="140"
                  width="175"
                  cover
                ></v-img>
              </td>
              <td>
                <v-img
                  src="https://www.prachachat.net/wp-content/uploads/2020/12/465089_364385253600032_1522292742_o-728x546.jpg"
                  height="140"
                  width="175"
                  cover
                ></v-img>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-img
          src="https://i.pinimg.com/236x/85/90/0d/85900d28a5459436b80c348d3ca5f7b4.jpg"
          cover
          height="2"
        ></v-img>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <h2>Interests</h2>
      </v-col>
    </v-row>

    <br />
    <v-row justify="center">
      <v-col>
        <v-card class="mx-auto" max-width="344">
          <v-img
            src="https://pbs.twimg.com/media/FkRkUSdaAAEhYq9?format=jpg&name=small"
            height="200px"
            cover
          ></v-img>

          <v-card-title> Cosplay </v-card-title>

          <v-card-subtitle>Character :Mitaka Asa</v-card-subtitle>
          <v-card-subtitle>From :Chainsaw Man</v-card-subtitle>

          <v-btn color="orange-lighten-2" variant="text"> Like for me </v-btn>

          <v-spacer></v-spacer>
        </v-card>
      </v-col>

      <v-col>
        <v-card class="mx-auto" max-width="344">
          <v-img
            src="https://pbs.twimg.com/media/FPp4iHvVQAks11i?format=jpg&name=small"
            height="200px"
            cover
          ></v-img>

          <v-card-title> Draw </v-card-title>

          <v-card-subtitle>Picture name :Yok</v-card-subtitle>
          <v-card-subtitle>Reference :Nontok</v-card-subtitle>

          <v-btn color="orange-lighten-2" variant="text"> Like for me </v-btn>

          <v-spacer></v-spacer>
        </v-card>
      </v-col>

      <v-col>
        <v-card class="mx-auto" max-width="344">
          <v-img
            src="https://www.bloggang.com/data/i/iamzeon/picture/1560580255.jpg"
            height="200px"
            cover
          ></v-img>

          <v-card-title> Music </v-card-title>

          <v-card-subtitle>Favorite song :Fuyu no Hanashi</v-card-subtitle>
          <v-card-subtitle>Singer :Given</v-card-subtitle>

          <v-btn color="orange-lighten-2" variant="text"> Like for me </v-btn>

          <v-spacer></v-spacer>
        </v-card>
      </v-col>
    </v-row>

    <br />
    <v-row justify="center">
      <v-col cols="8">
        <v-card width="600" title="Thank you">
          <v-icon :icon="mdiHeartOutline" />
          <v-icon :icon="mdiHeartOutline" />
          <v-icon :icon="mdiHeartOutline" />
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
