<script setup lang="ts">
import FrameworkPop from "@/components/FrameworkPop.vue";
import { mdiNumeric1, mdiNumeric2 } from "@mdi/js";
import { ref, computed } from "vue";
const frameList = ref([
  {
    name: "VueJS",
    img: "https://cdn.icon-icons.com/icons2/2107/PNG/512/file_type_vue_icon_130078.png",
    rating: 10,
  },
  {
    name: "Angular",
    img: "https://cdn.icon-icons.com/icons2/2699/PNG/512/angular_logo_icon_169595.png",
    rating: 20,
  },
  {
    name: "React",
    img: "https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/512px-React-icon.svg.png?20220125121207",
    rating: 14,
  },
]);

function ChangeRating(index: number, rating: number) {
  console.log("action " + index + " :" + rating);
  frameList.value[index].rating = rating;
  // frameList[index].rating = rati ng;
}
const orderList = computed(() => {
  return [...frameList.value].sort((n1, n2) => n2.rating - n1.rating);
});
</script>

<template>
  <v-container>
    <v-row>
      <v-col v-for="(item, index) of frameList" :key="index">
        <FrameworkPop
          :name="item.name"
          :img="item.img"
          :rating="item.rating"
          :index="index"
          @change="ChangeRating"
        ></FrameworkPop>
      </v-col>
    </v-row>

    <v-row justify="center">
      <v-col cols="6">
        <v-table>
          <thead>
            <tr>
              <th>order</th>
              <th>name</th>
              <th>rating</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) of orderList" :key="index">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.rating }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
